@import "static/variables";
@import "static/mixins";

.ask{
     background: $lightBlue;
     padding: 40px 100px;
     border-radius: 40px;
     @include flex();
     gap: 160px;
     .subtitle{
          max-width: 450px;
     }
}
#ask__question{
     margin-top: $mb;
     margin-bottom: $mb;
}

@media screen and (max-width: 1440px) {
     .ask{
          gap: 100px;
     }
}

@media screen and (max-width: 1200px) {
     .ask{
          padding: 32px 80px;
     }
     #ask__question{
          margin: 80px 0;
     }
}

@media screen and (max-width: 960px) {
     .ask{
          gap: 60px;
          padding: 32px 72px;
          .subtitle{
               margin-bottom: 24px;
          }
     }
     #ask__question{
          margin: 80px 0;
     }
}

@media screen and (max-width: 750px) {
     .ask{
          gap: 40px;
          padding: 32px 48px;
          .subtitle{
               font-size: 16px;
               line-height: 24px;
               margin-bottom: 18px;
          }
     }
     #ask__question{
          margin: 70px 0;
     }
}

@media screen and (max-width: 640px) {
     .ask{
          gap: 40px;
          padding: 32px 40px;
          .title{
               font-size: 24px;
               line-height: 40px;
          }
          .subtitle{
               font-size: 15px;
               line-height: 20px;
          }
     }
     #ask__question{
          margin: 60px 0;
     }
}

@media screen and (max-width: 580px) {
     .ask{
          gap: 40px;
          padding: 32px 40px;
          flex-direction: column-reverse;
          &__part{
               &:last-child{
                    @include flex();
                    flex-direction: column;
               }
          }.btn{
               margin: 0;
          }
          .title{
               text-align: center;
               font-size: 26px;
               line-height: 40px;
          }
          .subtitle{
               font-size: 16px;
               text-align: center;
          }
     }
}

@media screen and (max-width: 380px) {
     .ask{
          &__part{
               &:first-child{
                    display: none;
               }
          }
     }
}