$containerWidth: 1440px;
$darkGray: #333;
$black: #232323;
$gray: #585858;
$purple: #78258D;
$blue: #2E90D1;
$red: #E42125;
$lightGray: #828282;
$lightBlue: #EFEFFF;
$secondaryBlue: #DEF1FF;
$gradient: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);


$mb: 100px;
